<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="app.js"></script>

</head>

<body ng-app="myFirstApp">
  
 
 <div ng-controller="myFirstController">

<p>
	<h3>My name is: {{name}} </h3>
	<input type="text" ng-model="name" >
	<input type="button" value="click_here" ng-click="sayHello('sasi')">
	<!--Inside my input is: {{sayHello()}} -->
	<h3>My name is: {{myname}} </h3>
	
</p>

</div>


</body>
</html>
